/* General Styling */
.hide {
  display: none;
}

h1, h2, #start-container {
  display: flex;
  justify-content: center;
}

/* Quiz container styling */

  #quiz-container {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
  }
  
  /* Question and choices styling */
  #question {
    font-size: 24px;
    margin: 20px 0;
  }
  
  #choices button {
    display: block;
    font-size: 18px;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  /* Timer and message styling */
  #timer {
    font-size: 20px;
    font-weight: bold;
  }
  
  #message {
    color: #f00;
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Save score container styling */
  #save-score-container {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
  }
  
  #save-score-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #save-score-form input[type="text"] {
    font-size: 18px;
    padding: 10px;
    width: 100%;
  }
  
  #save-score-form button {
    font-size: 18px;
    margin: 10px auto;
    padding: 10px 20px;
  }
  
  #high-scores-container {
    margin-top: 30px;
  }
  
  #high-scores-list {
    list-style: none;
    padding: 0;
    border: whitesmoke solid 3px;
  }
  
  #high-scores-list li {
    margin-bottom: 5px;
  }
  
  #high-scores-list li span {
    font-weight: bold;
    margin-right: 10px;
  }
  